.services {
    padding: 50px 0;
    background: var(--light);
    scroll-margin-top: 100px;
    .service-list {
        display: flex;
        gap: 2%;
        .service {
            box-shadow: 0px 5px 90px 0px color-mix(in var(--dark), transparent 90%);
            padding: 50px 30px;
            transition: all ease-in-out 0.4s;
            background-color: #fff;
            height: 100%;
            h4 {
                color: var(--primary);
                font-size: 20px;
                font-weight: bold;
                transition: all ease-in-out 0.5s;
            }
            p {
                line-height: 24px;
                font-size: 14px;
                margin-bottom: 0;
            }
            &:hover {
                transform: translateY(-10px);
                cursor: pointer;
                h4 {
                    color: var(--secondary);
                }
            }
        }
    }
}